<% content_for :page_title, "About Bien Reviews" %>
<div class="page">
    <figure class="content-image">
        <%= image_tag @content.image_url %>
    </figure>
    <div class="page-content">
        <h1><%= @content.title %></h1>
        <%= simple_format @content.body %>
        <%= link_to "Browse our reviews", reviews_path %>
    </div>
</div>