// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../stylesheets/global.scss";
@import "../stylesheets/reviews.scss";

section.comments {
  margin-bottom: 24px;
}

.add-comment {
  form textarea {
    width: 600px;
  }
  input.btn {
    margin-top: 16px;
  }
}

.comment {
  border-bottom: solid 2px $cream;
  font-size: 14px;
  padding-bottom: 8px;

  span {
    font-size: 12px;
    color: $green;
    a {
      font-size: 12px;
    }
  }
}

@media (max-width: 460px) {
  .add-comment form textarea,
  .add-comment form input {
    width: 100%;
  }
}
