@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Work+Sans&display=swap");

/*colors*/
$green: #2ea68d;
$cream: #ffeccf;
$purple: #31234e;
$pink: #ffc6c6;
$black: #1e1e1e;
$orange: #ff551a;
$grey: #999999;

/*fonts*/
$titleFont: "PT Serif";
$bodyFont: "Work Sans";

:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: $bodyFont;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $titleFont;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

header,
main,
footer {
  padding: 20px;
}

a {
  color: $green;
}

a:not(.filters a),
p,
span {
  font-size: 1rem;
}

header {
  background: $cream;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0;

    img {
      width: 80px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div.session {
      margin-right: 16px;
    }
  }
  div.button a {
    color: $cream;
    font-size: 1rem;
  }
  button {
    display: none;
  }
}

form button {
  margin: 0;
  background-color: $orange;
  border: solid 1px $orange;
  padding: 4px 6px;
  i {
    color: #ffeccf;
  }
}

main {
  min-height: calc(100vh - 150px);
  margin: 0px auto 0px auto;
  max-width: 900px;
}

footer {
  color: $grey;
  text-align: center;
  p {
    font-size: 14px;
  }
}

label {
  display: block;
}

input,
textarea,
select {
  font-size: 18px;
  max-width: 400px;
  border: 1px solid #cccccc;
  padding: 8px;
  font-family: inherit;
  background: #fff;
}

input[type="submit"] {
  background: $orange;
  color: white;
  border-color: $orange;
  margin-top: 25px;
}

textarea {
  min-height: 400px;
}

nav.filters {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-size: 0.8rem;
  border-bottom: 2px solid $cream;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    margin: 0 5px 0 0;
    text-decoration: none;
    color: $black;
    &.active {
      color: $green;
    }
  }

  div,
  form {
    margin: 0 0 0 25px;
  }

  input {
    min-width: 200px;
    font-size: 14px;
    padding: 4px 5px;
  }
}

div.log-in,
div.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  form input {
    margin-bottom: 8px;
  }
}

@media (max-width: 910px) {
  nav.filters {
    flex-direction: column;
    align-items: flex-start !important;
    div.price,
    div.cuisine {
      margin-left: 0;
    }
    form.search {
      margin: 8px 0;
    }
    a {
      font-size: 1rem;
      line-height: 2;
    }
  }
}

@media (max-width: 650px) {
  header nav .button {
    padding: 4px 8px;
  }
  header h1 a img {
    width: 60px;
  }
}

@media (max-width: 560px) {
  :root {
    font-size: 16px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  header {
    position: relative;
  }
  header nav {
    display: none;
    &.show {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
      padding: 0px 20px 20px 20px !important;
      background: $cream;
      z-index: 10;
      .button {
        margin-top: 8px;
      }
    }
  }
  header button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
  }
}

.success {
  background: $green;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.error {
  background-color: $orange;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
