// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../stylesheets/global.scss";
//@import "../stylesheets/application.scss";

h1 {
  line-height: 1.2;
  margin: 24px 0 0 0;
}

p.author {
  font-style: italic;
  margin-top: 8px;
}

section.review,
div.review {
  margin-bottom: 24px;
}

div.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100vw;
  margin: 0px 0 24px 0;
  border: solid 2px $green;
  padding: 16px;
  figure.restaurant {
    width: 60%;
    margin: 0px;
    img {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  div.restaurant {
    width: 40%;
    align-self: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 24px;
    div.restaurant-info {
      display: block;
      div.restaurant-title {
        display: flex;
        align-items: center;
        h2 {
          margin: 0 16px 0 0;
        }
        span.bookmarks {
          display: inline;
          color: $green;
        }
      }
      span.address {
        color: $grey;
        font-style: italic;
        display: inline-block;
        margin-bottom: 24px;
      }
    }
  }
}

div.button {
  background-color: $orange;
  padding: 8px 16px;
  width: fit-content;
  a {
    text-decoration: none;
    color: #fff;
  }
  &.bookmark {
    margin: 16px 0;
  }
}

div.review {
  display: flex;
  align-items: flex-start;
  img {
    margin-right: 24px;
  }
  h2 {
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
}

div.new-review,
div.edit-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  form input,
  form textarea {
    margin-bottom: 8px;
    width: 600px;
  }
  form input.btn {
    margin-top: 16px;
  }
}

@media (max-width: 650px) {
  header,
  main,
  footer {
    padding: 10px 20px;
  }
}

@media (max-width: 460px) {
  div.review-header {
    flex-direction: column;
    div.restaurant {
      padding-left: 0;
    }
    figure.restaurant {
      width: 100%;
    }
    div.restaurant-title {
      margin-top: 18px;
    }
    div.restaurant-info span.address {
      margin-bottom: 8px !important;
    }
  }
  div.new-review,
  div.edit-review {
    form {
      width: 100%;
      input,
      textarea {
        width: 100% !important;
      }
    }
  }
}
