// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../stylesheets/global.scss";
//@import "../stylesheets/application.scss";

h1 {
  line-height: 1.2;
  margin: 0;
}

p.author {
  font-style: italic;
  margin-top: 8px;
}

div.review-header {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  border: solid 2px $green;
  padding: 16px;
  div.restaurant {
    div.restaurant-title {
      display: flex;
      align-items: center;
      h2 {
        margin: 0 16px 0 0;
      }
      span.bookmarks {
        display: inline;
        color: $green;
      }
    }
    span.address {
      color: $grey;
      font-style: italic;
      display: inline-block;
    }
  }
}

.comment {
  border-bottom: solid 2px $cream;
  font-size: 14px;
  padding-bottom: 8px;

  span {
    font-size: 12px;
    color: $green;
  }
}

div.button {
  background-color: $orange;
  padding: 8px 16px;
  width: fit-content;
  &.bookmark {
    margin-bottom: 16px;
  }
  a {
    text-decoration: none;
    color: $cream;
  }
}
