// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "../stylesheets/global.scss";

div.log-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    margin-bottom: 24px;
  }
  form input {
    margin-bottom: 8px;
    width: 100%;
  }
  form input.btn {
    margin-top: 16px;
  }
}

@media (max-width: 460) {
  div.log-in {
    form {
      width: 100%;
      input {
        width: 100% !important;
      }
    }
  }
}
