// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h1 {
    margin-bottom: 24px;
  }
  form input {
    margin-bottom: 8px;
    width: 100%;
  }
  form input.btn {
    margin-top: 16px;
  }
}

.user .header {
  margin-bottom: 24px;
}

@media (max-width: 460) {
  div.sign-up {
    form {
      width: 100%;
      input {
        width: 100% !important;
      }
    }
  }
}
